<html lang="en">
        <head>
                <title>Dropbox Emailer</title>
                <meta name="viewport" content="width=device-width, initial-scale=1">
                <meta charset="utf-8">
                <link rel="stylesheet" href="/bootstrap.css">
        </head>

        <body style="padding-top:60px">
        	<div class="navbar navbar-inverse navbar-fixed-top text-center">
			</div>

                {{{ body }}}
            <img class="center" src="/logo_64.png" style="max-width:32px; display: block; margin: 12px auto" />
        </body>
</html>