<div class="row">
	<div class="col-xs-12">
		<h2>Dropbox Emailer Admin</h2>
		<div class="alert text-center"></div>
	</div>
</div>
<div class="row">
		<div class="col-sm-6">
			<h4>Password Change</h4>
			<form name="password-change" class="form-horizontal">
		            <div class="form-group">
		                    <label for="new-password" class="control-label col-md-4">New Password:</label>
		                    <div class="col-md-8">
		                    	<input type="password" name="new-password" placeholder="Password" class="form-control">
		                	</div>
		            </div>
		            <div class="form-group">
		                    <label for="new-password-confirm" class="control-label col-md-4">Confirm:</label>
		                    <div class="col-md-8">
		                    	<input type="password" name="new-password-confirm" placeholder="Repeat Password" class="form-control">
		                	</div>
		            </div>
		            <div class="form-group">
			            <div class="col-xs-12">
			            	<input type="submit" class="btn btn-primary col-xs-12"></button>
			        	</div>
		        	</div>
		    </form>
		</div>
		<div class="col-sm-6">
			<h4>Dropbox Connection</h4>
			<p id="dropbox-info"></p>
			<div class="form-horizontal">
				<div class="form-group">
					<div class="col-xs-12">
						<a href="#" class="btn btn-primary col-xs-12 form-control" id="db-connect">Connect a Dropbox</a>
					</div>
				</div>
				<div class="form-group">
					<div class="col-xs-12">
						<a href="#" id="logout-link" class="btn btn-default col-xs-12 form-control">Logout</a>
					</div>
				</div>
			</div>
		</div>
</div>
<div class="row">
	<div class="col-xs-12">
		<h4>Users</h4>
		<ul class="user-list list-unstyled"></ul>
	</div>
</div>


<div class="hide" id="db-app-key" data-key="{{db-app-key}}"></div>
<div class="hide" id="uid" data-key="{{uid}}"></div>
<script src="jquery-2.1.4.js"></script>
<script src="jwt-decode.js"></script>
<script src="client-admin.js"></script>