<div class="container">
	<div class="row">
		<h1>Dropbox Emailer Admin</h1>
	</div>
	<div class="alert"></div>
	<div class="row">
		<h3>Users</h3>
		<ul class="user-list list-unstyled"></ul>
	</div>
	<div class="row">
		<h3>Dropbox Connection</h3>
		<div id="dropbox-info"></div>
		<a href="#" class="btn btn-small btn-primary" id="db-connect">Connect a Dropbox</a>
	</div>
</div>
<div class="hide" id="db-app-key" data-key="{{db-app-key}}"></div>
<script src="jquery-2.1.4.js"></script>
<script src="client-admin.js"></script>