<div class="row">
	<div class="col-xs-12">
		<h2>Oh no!</h2>
		<p>There seems to be an error with your email link. Please contact the administrator</p>
		<p>{{ message }}</p>
	</div>
<div class="row">