<div class="text-center alert"></div>

<form name="signup" class="form-horizontal" role="form">
        <div class="row">
                <div class="col-xs-12">
                        <div class="form-group">
                                <label for="name" class="col-md-1 control-label">Callsign:</label>
                                <div class="col-md-11">
                                        <input type="text" name="name" placeholder="You" class="form-control">
                                </div>
                        </div>
                </div>
                <div class="col-xs-12">
                        <div class="form-group">
                                <label for="email" class="col-md-1 control-label">Email:</label>
                                <div class="col-md-11">
                                        <input type="email" name="email" placeholder="you@sample.com" class="form-control">
                                </div>
                        </div>
                </div>
                <div class="col-xs-12">
                        <input type="submit" class="btn btn-primary col-xs-12"></button>
                </div>
        </div>
</form>

<script src="jquery-2.1.4.js"></script>
<script src="client.js"></script>
