<div class="container">
        <div class="col-xs-12 row">
                <h2>Administrator Login</h2>
        </div>
        <div class="text-center col-xs-12 row">
                <div class="alert"></div>
        </div>

        <form name="admin-login" class="form-horizontal" role="form">
                <div class="row">
                        <div class="col-xs-12">
                                <div class="form-group">
                                        <label for="email" class="col-md-1 control-label">Email:</label>
                                        <div class="col-md-11">
                                                <input type="text" name="email" placeholder="you@example.com" class="form-control">
                                        </div>
                                </div>
                        </div>
                        <div class="col-xs-12">
                                <div class="form-group">
                                        <label for="password" class="col-md-1 control-label">Password:</label>
                                        <div class="col-md-11">
                                                <input type="password" name="password" placeholder="Password" class="form-control">
                                        </div>
                                </div>
                        </div>
                        <div class="col-xs-12">
                                <input type="submit" class="btn btn-primary col-xs-12"></button>
                        </div>
                </div>
        </form>

</div>

<script src="jquery-2.1.4.js"></script>
<script src="client.js"></script>
